.login-form-container {
  flex-direction: column;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  background-image: url("../Landing_page/ProjectBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.login-form-header {
  font-size: 24px;
  font-weight: bold;
  color: #4CAF50;
  margin-bottom: 40px;
}

.login-form-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-form-container i {
  color: #4CAF50;
  font-size: 18px;
  margin-right: 10px;
}

.login-form-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #4CAF50;
}

.login-form-input:focus {
  outline: none;
  border-bottom: 2px solid #4CAF50;
}

.login-form-submit {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.login-form-submit:hover:hover {
  background-color: #3E8E41;
}
