.select-sports-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../Landing_page/ProjectBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .select-sports-container{
    height: 80%;
  min-width: 70%;
  margin: 0px 5px 0px 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8) !important;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1; 
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }


.dropdown-toggle {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 200px;

  }
  

  .dropdown-toggle:hover{
  color: #6CA0DC;
    background-color: white;
  }

  .confirmButton{
    background-color: #4CAF50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  }





