.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Landing_page/ProjectBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
  }
  .home-page-header {
    /* background-color: #007bff; Change the background color to match the navbar */
    color: #fff; /* Change the font color to white */
    display: flex; /* Use flexbox to align the content */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 70px; /* Set the height to match the navbar */
    padding: 0 20px; /* Add some padding to the left and right */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to give it depth */
  }

  
  .home-page-body {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  
  .join-button {
    background-color: #6CA0DC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .join-button:hover {
    background-color: #4D7B9D;
  }
  
  
 .bg{
  background-size: cover;
	background-position: top center;
 }

 .card-container {
  width: 80%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



 .card-outer {
  height: 100%;
  min-width: 30%;
  margin: 0px 5px 0px 5px;
}

.card-inner {
  height: 100% !important;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  z-index: 1;  /* Displays on top of the background image */
}